[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo-theme-lean-launch-page"]
	path = hugo-theme-lean-launch-page
	url = https://github.com/felicianotech/hugo-theme-lean-launch-page
